asttokens 
backcall 
certifi==2024.6.2
charset-normalizer==3.3.2
colorama  
comm 
debugpy 
decorator 
docutils==0.21.2
exceptiongroup 
executing 
idna==3.7
importlib-metadata 
ipykernel 
ipython 
jedi 
jupyter_client 
jupyter_core 
Kivy==2.3.0
matplotlib-inline 
nest-asyncio 
numpy==1.26.4
packaging 
pandas==2.2.2
parso 
pickleshare 
platformdirs 
prompt-toolkit 
psutil 
pure-eval 
Pygments 
pypiwin32==223
pypng==0.20220715.0
python-dateutil 
pytz==2024.1
pyzmq 
qrcode==7.4.2
requests==2.32.3
six 
stack-data 
tornado 
traitlets 
typing_extensions 
tzdata==2024.1
urllib3==2.2.1
wcwidth 
zipp 
qrcode